<!DOCTYPE html>
<html>
  <head>
    <title>Pregunta</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
      <h2 class=title><%= quiz.question %></h2>
      <div class="formulario">
        <form class="form" action="/quizzes/<%= id %>/check" method="get">
          <input type="text" name="answer" placeholder="Responda aquí"></input>
          <button class="responder" type="submit">Enviar respuesta</button>
        </form>
      </div>
      <div class="row">
        <h2>Comentarios:</h2>
        <div class="list-container">
          <ul>
            <% for (var i in quiz.Comments) {
              var comment = quiz.Comments[i];
              if (comment.accepted){ %>
                <li> <%= quiz.Comments[i].text %> </li>
              <% } else { %>
                <li>
                  <%= quiz.Comments[i].text %>
                  <a class="span-link" href="/quizzes/<%= quiz.id %>/comments/<%= comment.id %>/accept?_method=PUT"><span class="editar">Aceptar</span></a>
                </li>
              <% } %>
            <% } %>
          </ul>
          <% if (session.user) { %>
            <a href="/quizzes/<%= quiz.id %>/comments/new"><button class="add" type="button">Nuevo comentario</button></a>
          <% } %>
        </div>
      </div>
    </div>

  </body>
</html>
